<phpunit>
    <testsuites>
        <testsuite name="UnitTest">
            <directory>tests</directory>
            <exclude>
                <file>tests/Concardis/Payengine/Lib/Test/IntegrationTest.php</file>
            </exclude>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/Concardis/Payengine/Lib</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests</directory>
        </exclude>
    </coverage>
</phpunit>
